@using Microsoft.AspNetCore.Components.Web;
@inherits MainBase


<div class="container">
    <Companies NewCompanies="NewCompanies" NotQualifiedCompanies="NotQualifiedCompanies" QualifiedCompanies="QualifiedCompanies"></Companies>
    <div class="center">
        <component type="typeof(CompanyInformationDiv)" render-mode="Server" />
        <component type="typeof(Controls)" render-mode="Server" />
        <component type="typeof(ProspectFinderDiv)" render-mode="Server" />
    </div>
    <div class="right">

        @if (user.Identity.IsAuthenticated)
        {

            <component type="typeof(Manager)" render-mode="Server" />
        }
        else
        {
            <div>
                <p>Введите login </p>
                <input type="text" name="Email" @bind="login" />
                <p>Введите пароль </p>
                <input type="password" name="Password" @bind="password" />
                <input type="submit" value="Войти" class="btn btn-outline-dark" @onclick="Login" />
            </div>
        }
        <component type="typeof(Logs)" render-mode="Server" />
    </div>
</div>
